
h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 26px;
    font-weight: 300px;
}

.box1{
    height:200px;
    width: auto;
    background-color: aqua;
    border: 2px solid black;
    padding:20px;
    margin:70px
}


.box2{
    height:180px;
    width: auto;
    background-color: greenyellow;
    border: 2px solid black;
    padding:20px;
    margin:70px;
}

body{
    background-image: linear-gradient(to right top, yellow,rgb(247, 53, 9));
}