*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{

  margin:10px;
  padding:30px;
  display: grid;
  place-items: center;

}

/*  */
.child1{
  height: 500px;
  width: 800px;
  margin: 30px;

}

p{
  column-count: 3;
  /* column-rule-color: red;
  column-rule-style: dotted;
  column-rule-width: 3px; */

  column-rule:3px solid red;
  column-gap: 50px;
 
  text-align: justify;
}