*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

section{

    height: 100vh;
    width:auto;
    
    /* background-image: linear-gradient(to left, red, orange); */
    /* background-image: linear-gradient(90deg, yellow,green); */
    /* background-image: linear-gradient(to bottom,yellow,green); */
    /* background-image: linear-gradient(to bottom left,yellow,green); */


    /*****************background image with image and linear gradient color *****************888*/
    /* background-image: linear-gradient(135deg, rgba(227, 227, 19, 0.945), rgba(0, 255, 64,0.6)),
    url(https://c4.wallpaperflare.com/wallpaper/992/897/81/green-landscape-mountains-green-pine-forest-fog-taggart-lake-blue-water-rocks-sky-clouds-grand-teton-national-park-usa-1920%C3%971080-wallpaper-thumb.jpg);
    */
    /* background-image: repeating-linear-gradient(to right top,yellow,green 45px); */


    /* *****************Beautiful gradient in circular shape***************** */
    background-image: repeating-radial-gradient(circle, yellow,green 45px);


    /* *******************Beautiful gradient in ellipse shape****************************************/
    /* background-image: repeating-radial-gradient(ellipse,yellow,green 60px); */


    /* **************************How to defined the exact percentage of the color***************************** */
    /* background-image:radial-gradient(ellipse,yellow 10%,green 40% , #00001a ); */

    
    background-size: 100% auto;
}